# Udacity Data Viz
See https://learn.udacity.com/paid-courses/cd12532/lessons/2487324b-b4be-4c30-8ebc-776c4ea4abc6/concepts/6f3874ec-9591-41e3-8021-c975d2db3b94

In [2]:
import pandas as pd
from pathlib import Path
import os

In [53]:
DATA_FILE = Path(os.getcwd()).parent / 'data' / 'anscombes-quartet.xlsx'
os.path.exists(DATA_FILE)

if not os.path.exists(DATA_FILE):
    raise Exception(f"File doesn't exist: {DATA_FILE}")

In [18]:
SRC_DIRNAME = os.path.join("..", "data")
SRC_FILE = os.path.join(SRC_DIRNAME, "anscombes-quartet.xlsx")

In [19]:
df = pd.read_excel(SRC_FILE)
df

,X,Y,X.1,Y.1,X.2,Y.2,X.3,Y.3
0,10.0,8.04,10.0,9.14,10.0,7.46,8.0,6.58
1,8.0,6.95,8.0,8.14,8.0,6.77,8.0,5.76
2,13.0,7.58,13.0,8.74,13.0,12.74,8.0,7.71
3,9.0,8.81,9.0,8.77,9.0,7.11,8.0,8.84
4,11.0,8.33,11.0,9.26,11.0,7.81,8.0,8.47
5,14.0,9.96,14.0,8.1,14.0,8.84,8.0,7.04
6,6.0,7.24,6.0,6.13,6.0,6.08,8.0,5.25
7,4.0,4.26,4.0,3.1,4.0,5.39,19.0,12.50
8,12.0,10.84,12.0,9.13,12.0,8.15,8.0,5.56
9,7.0,4.82,7.0,7.26,7.0,6.42,8.0,7.91
10,5.0,5.68,5.0,4.74,5.0,5.73,8.0,6.89
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,Make A copy of the data to calculate your stat...,NaN,NaN,NaN,NaN

In [21]:
df = df[:11]
df

       X      Y   X.1   Y.1   X.2    Y.2   X.3    Y.3
0   10.0   8.04  10.0  9.14  10.0   7.46   8.0   6.58
1    8.0   6.95   8.0  8.14   8.0   6.77   8.0   5.76
2   13.0   7.58  13.0  8.74  13.0  12.74   8.0   7.71
3    9.0   8.81   9.0  8.77   9.0   7.11   8.0   8.84
4   11.0   8.33  11.0  9.26  11.0   7.81   8.0   8.47
5   14.0   9.96  14.0   8.1  14.0   8.84   8.0   7.04
6    6.0   7.24   6.0  6.13   6.0   6.08   8.0   5.25
7    4.0   4.26   4.0   3.1   4.0   5.39  19.0  12.50
8   12.0  10.84  12.0  9.13  12.0   8.15   8.0   5.56
9    7.0   4.82   7.0  7.26   7.0   6.42   8.0   7.91
10   5.0   5.68   5.0  4.74   5.0   5.73   8.0   6.89

### Q: What is true for the means associated with any of the X columns?

In [28]:
df[['X','X.1','X.2','X.3']].mean(axis=0)

X      9.0
X.1    9.0
X.2    9.0
X.3    9.0
dtype: float64

### A: They're the same

### Q: What is true for the means associated with any of the Y columns?

In [29]:
df[['Y','Y.1','Y.2','Y.3']].mean(axis=0)

Y      7.500909
Y.1    7.500909
Y.2    7.500000
Y.3    7.500909
dtype: float64

### A: They're the same

### What is true for the standard deviation associated with any of the X columns?

In [33]:
df[['X','X.1','X.2','X.3']].std(axis=0)

X      3.316625
X.1    3.316625
X.2    3.316625
X.3    3.316625
dtype: float64

### A: They're the same

### What is true for the standard deviation associated with any of the Y columns?

In [34]:
df[['Y','Y.1','Y.2','Y.3']].std(axis=0)

Y      2.031568
Y.1    2.031657
Y.2    2.030424
Y.3    2.030579
dtype: float64

### A: They're the same